# on Master mkdir /srv/pillar
#  place in /srv/pillar on master as echostar.sls 


ad:
  domain: <domain name example.com>
  username: <Domain User Administrator>
  password: BadPassword
  
uxuser:
  password: T3mPp@ssw0rd!
  
winuser:
  password: T3mPp@ssw0rd!